<table class="pricingTable">
  <tr>
    <th class="pricingItems">Quote #32921</th>
    <th class="oneTime">ONE TIME<hr></th>
    <th class="monthly">MONTHLY<hr></th>
  </tr>
  <tr>
    <td>
      <label>Roger &amp; Lang Legal</label><br>
      <label>Opportunity #23202</label><br>
      <label>Pricing Approved</label>
    </td>
    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems">list</th>
          <th class="innerTableItems">current</th>
        </tr>
        <tr>
          <td>$1250.00</td>
          <td>$750.00</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <label>discounts</label><br>
            <label>$500.00</label><br>
            <label>40%</label>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems">list</th>
          <th class="innerTableItems">current</th>
        </tr>
        <tr>
          <td>$1930.00</td>
          <td>$1930.00</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <label>discounts</label><br>
            <label>$0.00</label><br>
            <label>0%</label>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <h4>Items</h4>
  <tr>
    <td><hr></td>
    <td><hr></td>
    <td><hr></td>
  </tr>
  <tr>
    <td>
      <b>CTL Ethernet</b>
      <label style="padding-left: 10%;">3 years</label>
    </td>
    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems"></th>
          <th class="innerTableItems"></th>
        </tr>
        <tr>
          <td>$1250.00</td>
          <td>$750.00</td>
        </tr>
      </table>
    </td>
    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems"></th>
          <th class="innerTableItems"></th>
        </tr>
        <tr>
          <td>$1930.00</td>
          <td>$1930.00</td>
        </tr>
      </table>
    </td>
  </tr>

  <br>
  <tr>
    <td>subtotal</td>
    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems"></th>
          <th class="innerTableItems"></th>
        </tr>
        <tr>
          <td>$1250.00</td>
          <td>$750.00</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>EVC</td>
    <td></td>
    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems"></th>
          <th class="innerTableItems"></th>
        </tr>
        <tr>
          <td>$40.00</td>
          <td>$40.00</td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>2 locations</td>
    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems"></th>
          <th class="innerTableItems"></th>
        </tr>
        <tr>
          <td>$1250.00</td>
          <td>$750.00</td>
        </tr>
      </table>
    </td>
    <td>
      <table class="innerTable">
        <tr>
          <th class="innerTableItems"></th>
          <th class="innerTableItems"></th>
        </tr>
        <tr>
          <td>$1890.00</td>
          <td>$1890.00</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
