<div class="container">
  <table width="100%">
    <tr>
      <td width="70%">
        <label style="font-size: 150%;">CenturyLink Ethernet</label>
        <br />
        <br />
        <small>term</small>
        <br/>
        <label class="radio-inline">
              <input type="radio" name="radio"> 1 year
            </label>
        <label class="radio-inline">
              <input type="radio" name="radio"> 2 years
            </label>
        <label class="radio-inline">
              <input type="radio" name="radio"> 3 years
            </label>
        <label class="radio-inline">
              <input type="radio" name="radio"> 5 years
            </label>
      </td>
    </tr>
  </table>

  <br />
  <br />
  <br />
  <br />
  <small>Configurations</small>
  <hr>
  <div>
    <ce-locations *ngIf="!locationsFlag"></ce-locations>
    <ce-config *ngIf="locationsFlag" [ctlEthernet]="ctlEthernet"></ce-config>
    <br><br><br><br>
  </div>
  <div class="btnDivFooter">
    <button md-raised-button (click)="removeItem()">Remove Item</button>
    <button md-raised-button class="disabled">Review Quote</button>
  </div>
</div>
