<div class="container">
  <table width="100%">
    <tr>
      <td width="70%">
        <label style="font-size: 150%;">CenturyLink Ethernet</label>
        <br />
        <br />
        <small>term</small>
        <br/>
        <label class="radio-inline" *ngFor="let term of terms">
          <input type="radio" name="radio"> {{term}}
        </label>
      </td>
    </tr>
  </table>

  <br />
  <br />
  <br />
  <br />
  <small>Configurations</small>
  <hr>
  <div>
    <ce-locations *ngIf="!locationsFlag"></ce-locations>
    <ce-config *ngIf="locationsFlag" [ctlEthernet]="ctlEthernet"></ce-config>
    <br><br><br><br>
  </div>
  <div class="btnDivFooter">
    <button md-raised-button (click)="removeItem()">Remove Item</button>
    <button md-raised-button class="disabled" [routerLink]="['/pricing']">Review Quote</button>
  </div>
</div>
