.example-container {
  width: 1010px auto;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.example-sidenav {
  width: 32%;
}

.config-container{
  width: 67%;
  height: 99%;
  margin-left: 33%;
  background-color: white !important;
  color: black;
  overflow-y: hidden;
}
